.cf-layout--display {
    box-sizing: border-box;
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 1px;
    height: 100%;

    &--head {
        border-bottom: $border-gray;
        height: 45px;
        background-color: #fff;
        padding: 0 10px;
    }

    &--body {
        background-color: #fff;
        height: calc(100% - 46px - 20px);
        margin: 10px;
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    &--form {
        width: 100%;
        height: 100%;
        @include display-flex(column, nowrap, flex-start, flex-start);
    }

    &--draggable {
        width: 100%;
        height: 100%;
        
        .el-form-item {
            margin-bottom: 0 !important;
            width: 100%;
        }
    }

    &--itemBox {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        box-sizing: border-box;
        border: 1px dashed #fff;
        position: relative;
        @include display-flex(column, nowrap, center, center);
        &:hover{
            border-color: $primary-color;
        }

        &--mask {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 666;
        }

        &--btn {
            position: absolute;
            width: 100%;
            z-index: 999;
            bottom: 0;
            left: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
        
        }
        
        &--del, &--copy {
            padding: 4px 8px;
            background-color: $primary-color;
            margin-left: 1px;
            cursor: pointer;
            i {
                color: white;
            }
        }

        & .required {
            .el-form-item__label::before{
                content: '*';
                color: $error-color;
                margin-right: 4px;
            }
        }
    }

    &--active {
        border: 1px solid $primary-color;
    }
}
