.cf-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: $border-gray;
    box-sizing: border-box;

    &--left {
        width: 240px;
        height: 100%;
        overflow-y: auto;
        border-right: $border-gray;
    }

    &--center {
      height: 100%;
      flex-grow: 1;
      overflow-y: auto;
    }

    &--right {
        width: 340px;
        height: 100%;
        overflow-y: auto;
        border-left: $border-gray;
    }
}